
$home-banner-bg: rgba(24, 205, 249, 0.4);
$game-container-bg: rgba(40, 120, 60, 0.7);

$font-primary: 'Kaushan Script', sans-serif;
$font-secondary: 'Kalam', sans-serif;
$font-tertiary: 'Cinzel', serif;

$tablet-width: 768px;
$desktop-width: 1024px;
